.lbutn {
  background-color: gold;
  border-radius: 45px;
  text-align: center;
  border: none;
  padding: 14px;
  width: 280px;
  text-decoration: none;
  margin: 0;
  position: absolute;
  color: black;
  margin-top: 80px
}

.lbutn:hover {
  background-color: gold;
  border: none;
  box-shadow: 8px 8px 8px gold;
  border-radius: 45px;
  text-align: center;
  padding: 14px;
  width: 280px;
  text-decoration: none;
  color: white;
}

.butn {
  background-color: gold;
  border-radius: 45px;
  text-align: center;
  border: none;
  padding: 14px;
  width: 280px;
  margin: 0;
  text-decoration: none;
  position: absolute;
  color: black;
  margin-top: 80px
}

.butn:hover {
  background-color: gold;
  border: none;
  box-shadow: 8px 8px 8px gold;
  border-radius: 45px;
  text-align: center;
  padding: 14px;
  width: 280px;
  text-decoration: none;
  color: white;
}