.lbutn {
    background-color: gold;
    border-radius: 45px;
  

    border: none;
    padding: 14px;
    width: 280px;

    min-height: 50px;
    resize: none;
    text-decoration: none;
  
    position: absolute;
    margin-top: 15px
   
  }

  .lbutn:hover {
    background-color: gold;
    border: none;
    box-shadow: 8px 8px 8px gold;
    border-radius: 45px;
  
    padding: 14px;
    width: 280px;
    text-decoration: none;
    color: white;
  }
 